
body{
height: 80%;
 width: 100%;
 padding: 0;
 margin: 0;

background-image: url('fondo.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: 'ZCOOL KuaiLe', cursive;

}
.circular--square {
  border-radius: 50%;
  width: 250px;
   height: 250px;
  margin-left: 710px;
  margin-top: 50px;
  overflow: hidden;
  border: 5px solid white;

}

h {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 400px;
  left: 650px;
}

h1 {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 450px;
  left: 710px;
}
