
body {
  width: 80%;
  padding: 0;
  margin: 0;
  background-image: url('fondo.jpg');
  background-size: cover;
  font-family: 'ZCOOL KuaiLe', cursive;
}
h1 {
  color: white;
  font-size: 40px;
}

h2 {
  color: white;
  font-size: 30px;
}
.name{
  position: absolute;
  bottom: 290px;
  left: 560px;
}
.location{
  position: absolute;
  bottom: 250px;
  left: 560px;
}
.circular--square {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 370px;
  left: 600px;
  overflow: hidden;
  border: 5px solid white;
}
